@model CreateFamilyViewModel
@{
    ViewData["Title"] = "Create Family";
    ViewData.AddActivePage(ManageNavPages.CreateFamily);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        @*Create Family*@
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="FamilyName"></label>
                    <input asp-for="FamilyName" class="form-control" />
                    <span asp-validation-for="FamilyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image"></label>
                    <input asp-for="Image" type="file" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>               
            <button type="submit" class="btn btn-default">Save Family</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
