@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Tenev Corporation<br />
    Sofia, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:stanislav.tenev@microinvest.net">support@tenevcorp.net</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@tenevcorp.net</a>
</address>
